[submodule "Processing"]
	path = Processing
	url = https://github.com/Solidsilver/Processing
	branch = master
[submodule "land-sources"]
	path = sources
	url = git@github.com:Solidsilver/land-sources.git
	branch = master
